@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ::selection {
    background: #0044ff2d;
    color: theme(colors.primary.DEFAULT); /* Make sure the gradient masked text is shown properly
  }

  .dark ::selection {
    background: #4171fd6b;
  } */
}
