/* NOTION CSS OVERRIDE */

:root {
  --no-leading: 2rem;
}

.notion {
  @apply text-gray-600 dark:text-gray-300;
  overflow-wrap: break-word;
}
.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply p-0;
  @apply my-3;
  line-height: var(--no-leading);
}
.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-callout > .notion-page-icon-inline {
  max-width: unset;
  max-height: unset;
  height: var(--no-leading);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
}

.notion-callout-text {
  @apply min-w-0;
  padding-left: 2px;
  padding-right: 2px;
}

.notion-bookmark {
  @apply border;
  @apply border-gray-100;
  color: inherit;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}

pre[class*='language-'] {
  line-height: inherit;
}

.notion-bookmark:hover {
  @apply border-blue-400;
}
.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  @apply text-center;
  @apply text-gray-500 dark:text-gray-400;
}
.notion-asset-wrapper-tweet iframe {
  @apply bg-day dark:bg-night;
}
.notion-full-width {
  @apply px-0;
}
.notion-page {
  @apply w-auto;
  @apply px-0;
}
.notion-quote {
  padding: 0.2em 0.9em;
}
.notion-hr {
  border-top-width: 1px;
  border-top-style: solid;
}
.dark .notion-hr {
  border-top-color: rgba(255, 255, 255, 0.13);
}
.notion-list {
  width: 100%;
}
.notion-collection {
  @apply max-w-full;
}
.notion-collection > .notion-collection-header {
  @apply px-0 !important;
}
.notion-collection > .notion-table {
  @apply max-w-full !important;
}
.notion-collection > .notion-table > .notion-table-view {
  @apply px-0 !important;
}
.notion-collection-view-type {
  @apply hidden;
}
.notion-collection-row {
  @apply hidden;
}

.notion-property-checkbox {
  width: 24px;
  margin-right: 2px !important;
  display: flex;
  justify-content: center;
}

.notion-to-do-body {
  padding-left: 2px;
  padding-right: 2px;
}

.notion-list {
  padding-inline-start: 28px;
}

.notion-list > li {
  padding-left: 2px;
  padding-right: 2px;
}

.notion-toggle {
  padding-left: 28px;
}

.notion-toggle > summary {
  list-style-position: outside;
  padding-left: 2px;
  padding-right: 2px;
}

.notion-toggle > summary + div {
  margin-left: 0;
  padding-left: 2px;
  padding-right: 2px;
}
